<template>
	<v-container class="mx-auto">
		<ListUsers />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ListUsers from '@/components/users/userList.vue'

@Component({
	components: {
		ListUsers,
	},
})
export default class Viewusers extends Vue {}
</script>

<style></style>
