<template>
	<v-container class="mx-auto">
		<v-tabs
			v-model="tab"
			background-color="primary"
			centered
			dark
			icons-and-text
		>
			<v-tabs-slider></v-tabs-slider>

			<v-tab href="#general">
				General
			</v-tab>

			<v-tab href="#avatar">
				Avatar
			</v-tab>

			<v-tab href="#password">
				Password
			</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab" class="mx-auto" style="max-width:650px;">
			<v-tab-item value="general">
				<ProfileForm
					:credentials="credentials"
					@updateProfile="updateProfile"/></v-tab-item
			><v-tab-item value="avatar">
				<AvatarForm
					:avatar="credentials.avatar"
					@updateProfile="updateProfile"/></v-tab-item
			><v-tab-item value="password">
				<PasswordForm />
			</v-tab-item>
			<Status :valueStatus="status" />
		</v-tabs-items>
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import PasswordForm from '@/components/auth/formChangePassword.vue'
import ProfileForm from '@/components/auth/formProfile.vue'
import AvatarForm from '@/components/auth/formAvatar.vue'

import UsersApi from '@/api/user.api'
//Models
import { UserForm, UserModel } from '@/models/user'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		PasswordForm,
		ProfileForm,
		AvatarForm,
	},
})
export default class UserProfile extends Mixins(Status) {
	private credentials = {} as UserModel['credentials']
	private tab = null
	private items = ['general', 'avatar', 'password']

	created(): void {
		this.fetchUser()
	}
	async fetchUser(): Promise<void> {
		const [error, response] = await UsersApi.getSingle({
			user_id: this.user_id,
		})
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			const user: UserModel = response
			this.credentials = user.credentials
		}
	}
	async updateProfile(form: UserForm): Promise<void> {
		try {
			this.isLoading = true
			await this.$store.dispatch('updateUser', form)
			this.status.success = 'Profile updated !'
		} catch (error) {
			this.status.error.message = 'Failed to update your profile !'
		} finally {
			this.isLoading = false
		}
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>

<style></style>
