<template>
	<v-container class="mx-auto">
		<User />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import User from '@/components/users/userSingle.vue'

@Component({
	components: {
		User,
	},
})
export default class ViewUser extends Vue {}
</script>

<style></style>
