<template>
	<v-container class="mx-auto">
		<AddUserForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import AddUserForm from '@/components/auth/formAddUser.vue'

@Component({
	components: {
		AddUserForm,
	},
})
export default class AddUser extends Vue {}
</script>

<style></style>
