<template>
	<v-container class="mx-auto">
		<EditUserForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import EditUserForm from '@/components/auth/formEditUser.vue'

@Component({
	components: {
		EditUserForm,
	},
})
export default class EditUser extends Vue {}
</script>

<style></style>
