<template>
	<v-container>
		<adminPanel
			:loading="loading"
			title="Users"
			element="user"
			route="users"
			:items="items"
			:headers="headers"
			sortColumn="name"
			:sortColumnDesc="true"
			:validateItem="true"
			:actions="{
				create: true,
				view: true,
				edit: true,
				delete: true,
				validate: true,
			}"
			@deleteElement="deleteElement"
			@validateItem="validateItem"
		/>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import adminPanel from '@/components/panel.vue'

//Model
import { UserModel } from '@/models/user'

//API
import UsersApi from '@/api/user.api'
import ErrorModel from '@/models/errorModel'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class ViewUsers extends Mixins(Status) {
	private loading = true
	private items: Array<UserModel['credentials']> = []
	private headers = [
		{
			text: 'Name',
			align: 'start',
			sortable: true,
			value: 'name',
		},
		{ text: 'Email', value: 'email' },
		{ text: 'Role', value: 'role' },
		{ text: 'Activated', value: 'activated' },
		{ text: 'Actions', align: 'center', value: 'actions', sortable: false },
	]

	mounted(): void {
		this.fetchUsers()
	}

	async deleteElement(params: { id: string; index: number }): Promise<void> {
		const { id, index } = params
		this.status.error = {} as ErrorModel
		if (id === this.user_id) {
			this.status.error.message = "You can't delete your own account"
		} else {
			const [error, response] = await UsersApi.delete(id)
			if (error) {
				this.status.error = error.message
			} else if (response) {
				this.items.splice(index, 1)
			}
		}
	}

	async validateItem(params: { id: string; index: number }): Promise<void> {
		try {
			const { id, index } = params
			const [errorToken, responseToken] = await UsersApi.getToken(id)
			if (responseToken && !errorToken) {
				const [error, response] = await UsersApi.activate(
					responseToken.token
				)
				if (response && !error) {
					this.items[index].activated = response.credentials.activated
				} else {
					throw new Error(error.message)
				}
			}
		} catch (error) {
			this.status.error = error.message
		}
	}

	async fetchUsers(): Promise<void> {
		this.loading = true
		const [error, response] = await UsersApi.get()
		if (error) {
			this.status.error = error.message
		} else if (response) {
			this.items = response.result
		}
		this.loading = false
	}

	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>

<style scoped></style>
