<template>
	<v-text-field
		v-model="password"
		:rules="!applyRules ? [rules.password] : []"
		@input="$emit('changeValue', { password: $event })"
		filled
		counter="8"
		label="Password"
		type="password"
		:autocomplete="getAutoCompleteId()"
	></v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
//API
import PasswordApi from '@/api/userPassword.api'

@Component({})
export default class FieldPassword extends Vue {
	@Prop() value: string
	@Prop() private applyRules?: boolean
	private autoCompleteId = ''
	private validation = true
	private password = ''

	private rules = {
		password: (v: string) => {
			this.validation = true
			let rule: boolean | string = true
			const lengthPassword = 8
			const re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).+$/

			//Special Characters
			if (!re.test(v)) {
				rule =
					'Password must contain uppercase, lowercase, number and special character'
				this.validation = false
			}
			//Length
			if (v.length < lengthPassword) {
				rule =
					'Invalid character length, requires ' +
					lengthPassword +
					' characters'
				this.validation = false
			}
			this.$emit('checkValidation', { password: this.validation })
			return rule
		},
	}
	async getPassword(): Promise<void> {
		const [error, response] = await PasswordApi.get(this.user_id)
		if (response) {
			if (response.data && !error && response.data.password) {
				this.password = response.data.password
			}
		}
	}

	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
	created(): void {
		this.$emit('changeValue', { password: this.password })
		this.$emit('checkValidation', { password: this.validation })
	}
	getAutoCompleteId(): string {
		if (this.$route.name === 'register') {
			return 'new-password'
		} else {
			return 'current-password'
		}
	}
	@Watch('value')
	watchValue(newValue: string): void {
		this.password = newValue
	}
}
</script>
