<template>
	<v-select
		outlined
		v-model="role"
		@input="$emit('changeValue', { role: $event })"
		filled
		label="Role*"
		ref="field"
		:items="this.items"
		item-text="label"
		item-value="value"
	></v-select>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldRole extends Vue {
	@Prop() value: string
	private role = 'subscriber'
	private validation = true
	private items: { label: string; value: string }[] = [
		{ label: 'Administrator', value: 'administrator' },
		{ label: 'Subscriber', value: 'subscriber' },
	]
	$refs!: {
		field: HTMLFormElement
	}
	created(): void {
		this.$emit('checkValidation', { role: true })
		this.$emit('changeValue', { role: this.role })
	}
	@Watch('value')
	watchValue(newValue: string): void {
		this.role = newValue
	}
}
</script>
