<template>
	<v-textarea
		value=""
		hint="Hint text"
		v-model="content"
		:rules="[rules.required]"
		@input="$emit('changeValue', { content: $event })"
		filled
		label="Write your message here"
	></v-textarea>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldDescription extends Vue {
	@Prop() value: string
	private content = ''
	private validation = false
	created(): void {
		this.$emit('changeValue', { content: this.content })
	}
	mounted(): void {
		this.$emit('checkValidation', { content: this.validation })
	}
	private rules = {
		required: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			this.$emit('checkValidation', { content: this.validation })
			return rule
		},
	}
	@Watch('value')
	watchValue(newValue: string): void {
		this.content = newValue
	}
}
</script>
