<template>
	<v-text-field
		v-model="username"
		:rules="[rules.username]"
		@input="
			$emit('changeValue', {
				username: $event.toLowerCase(),
			})
		"
		filled
		label="Username* (No spaces, special characters or uppercases)"
		ref="field"
		autocomplete="username"
	></v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldUsername extends Vue {
	@Prop() value: string

	private username = ''

	$refs!: {
		field: HTMLFormElement
	}
	private validation = true
	private rules = {
		username: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			if (v && v.length < 6) {
				rule = 'Field requires at least 6 characters'
				this.validation = false
			}
			let format = /[ `!@#$%^&*()_+=[\]{};':"\\|,.<>/?~]/
			if (v && format.test(v)) {
				rule = "Don't insert spaces or special characters"
				this.validation = false
			}
			this.$emit('checkValidation', { username: this.validation })
			return rule
		},
	}
	created(): void {
		this.$emit('changeValue', { username: this.username })
	}
	@Watch('value', { immediate: true })
	watchValue(newValue: string): void {
		this.username = newValue.toLowerCase()
	}
}
</script>
