<template>
	<div>
		<label>
			Start
		</label>
		<v-container class="px-0 mx-3">
			<v-row justify="space-around" align="center">
				<v-col class="px-0">
					<v-date-picker
						v-model="startDate"
						:rules="[rules.required]"
						:landscape="true"
					></v-date-picker>
				</v-col>
				<v-col class="pa-0" v-show="!allDayField.allDay">
					<v-time-picker
						:landscape="true"
						v-model="startTime"
						format="24hr"
					></v-time-picker>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component({})
export default class FieldStart extends Vue {
	@Prop() value: string
	@Prop() allDayField: HTMLFormElement
	private startTime = '12:00'
	private startDate = new Date(
		Date.now() - new Date().getTimezoneOffset() * 60000
	)
		.toISOString()
		.substr(0, 10)
	private start = ''

	private validation = true
	private rules = {
		required: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			this.$emit('checkValidation', { start: this.validation })
			return rule
		},
	}

	mounted(): void {
		this.$emit('changeValue', { start: this.start })
	}

	@Watch('startDate', { immediate: true })
	watchStartDate(newValue: string): void {
		this.start = newValue + ' ' + this.startTime
	}

	@Watch('startTime', { immediate: true })
	watchStartTime(newValue: string): void {
		this.start = this.startDate + ' ' + newValue
	}

	@Watch('start', { immediate: true })
	watchStart(newValue: string): void {
		this.$emit('changeValue', { start: newValue })
	}

	@Watch('value')
	watchValue(newValue: string): void {
		this.startDate = newValue.substring(0, 10)
		this.startTime = newValue.substring(11, 16)
		this.start = newValue
	}
}
</script>
