<template>
	<v-container class="px-0" fluid>
		<v-switch
			v-model="allDay"
			label="This event takes all day"
			@change="$emit('changeValue', { allDay: $event })"
		></v-switch>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldallDay extends Vue {
	@Prop() value: string
	private allDay = true
	private validation = true
	mounted(): void {
		this.$emit('changeValue', { allDay: this.allDay })
	}
	@Watch('value')
	watchValue(newValue: boolean): void {
		this.allDay = newValue
	}
}
</script>
