<template>
	<div>
		<v-file-input
			filled
			show-size
			label="Select avatar"
			accept="avatar/*"
			@change="upload"
		></v-file-input>
		<div class="pb-6">
			<v-img
				:src="this.avatarUrl"
				position="center center"
				:contain="true"
				max-height="100"
				max-width="100"
			></v-img>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from 'vue-property-decorator'
import fileApi from '@/api/file.api'

//Mixins
import Status from '@/mixins/status.vue'

@Component
export default class FieldAvatar extends Mixins(Status) {
	@Prop() value: string
	@Prop() typeForm: string
	@Prop() route: string
	private avatarName = ''
	private avatarUrl = ''
	private validation = true

	//Avatar
	private progress = 0
	private error = ''

	created(): void {
		this.$emit('changeValue', { avatar: this.avatarName })
	}
	mounted(): void {
		if (this.value) {
			this.avatarUrl =
				process.env.VUE_APP_IMAGES_FOLDER +
				'/' +
				this.route +
				'/' +
				this.value
		}
	}
	async upload(avatar: File): Promise<void> {
		//Skip the upload process if we are editing
		if (!avatar && this.typeForm === 'edit') {
			return
		}
		if (!avatar) {
			this.status.error.message = 'Please select an Avatar!'
			return
		}
		const [error, response] = await fileApi.upload(avatar, this.route)
		if (error) {
			this.status.error.message = 'Could not upload the avatar!'
		} else if (response) {
			this.$emit('changeValue', { avatar: response.name })
			this.$emit('updateField')
			this.avatarName = response.name
			this.status.success = 'Avatar Uploaded'
		}
	}
	@Watch('avatarName')
	watchAvatar(newValue: string): void {
		this.avatarUrl =
			process.env.VUE_APP_IMAGES_FOLDER +
			'/' +
			this.route +
			'/' +
			newValue
	}
	@Watch('value')
	watchAvatarValue(newValue: string): void {
		this.avatarName = newValue
		this.avatarUrl =
			process.env.VUE_APP_IMAGES_FOLDER +
			'/' +
			this.route +
			'/' +
			newValue
	}
}
</script>
