<template>
	<div>
		<label>
			End
		</label>
		<v-container class="px-0 mx-3">
			<v-row justify="space-around" align="center">
				<v-col class="px-0">
					<v-date-picker
						v-model="endDate"
						:rules="[rules.required]"
						:landscape="true"
					></v-date-picker>
				</v-col>
				<v-col class="pa-0" v-show="!allDayField.allDay">
					<v-time-picker
						:landscape="true"
						v-model="endTime"
						format="24hr"
					></v-time-picker>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component({})
export default class FieldEnd extends Vue {
	@Prop() value: string
	@Prop() allDayField: HTMLFormElement

	private endTime = '13:00'
	private endDate = new Date(
		Date.now() - new Date().getTimezoneOffset() * 60000
	)
		.toISOString()
		.substr(0, 10)
	private end = ''

	private validation = true
	private rules = {
		required: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			this.$emit('checkValidation', { end: this.validation })
			return rule
		},
	}

	mounted(): void {
		this.$emit('changeValue', { end: this.end })
	}

	@Watch('endDate', { immediate: true })
	watchEndDate(newValue: string): void {
		this.end = newValue + ' ' + this.endTime
	}

	@Watch('endTime', { immediate: true })
	watchEndTime(newValue: string): void {
		this.end = this.endDate + ' ' + newValue
	}

	@Watch('end', { immediate: true })
	watchEnd(newValue: string): void {
		this.$emit('changeValue', { end: newValue })
	}

	@Watch('value')
	watchValue(newValue: string): void {
		this.end = newValue
		this.endDate = newValue.substring(0, 10)
		this.endTime = newValue.substring(11, 16)
	}
}
</script>
