<template>
	<div>
		<v-file-input
			filled
			show-size
			label="Select image"
			accept="image/*"
			@change="upload"
		></v-file-input>
		<Status :valueStatus="status" />
		<v-img
			:src="this.imageUrl"
			position="center center"
			:contain="true"
			max-height="100"
			max-width="100"
		></v-img>
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from 'vue-property-decorator'
import fileApi from '@/api/file.api'

//Mixins
import Status from '@/mixins/status.vue'

@Component
export default class Fieldimage extends Mixins(Status) {
	@Prop() valueImage: string
	@Prop() typeForm: string
	@Prop() route: string
	private imageName = ''
	private imageUrl = ''
	private validation = true

	//Image
	private progress = 0
	private error = ''

	created(): void {
		this.$emit('changeValue', { image: this.imageName })
	}
	mounted(): void {
		if (this.valueImage) {
			this.imageUrl =
				process.env.VUE_APP_IMAGES_FOLDER +
				'/products/' +
				this.valueImage
		}
	}
	async upload(image: File): Promise<void> {
		//Skip the upload process if we are editing
		if (!image && this.typeForm === 'edit') {
			return
		}
		if (!image) {
			this.status.error.message = 'Please select an Image!'
			return
		}
		const [error, response] = await fileApi.upload(image, this.route)
		if (error) {
			this.status.error.message = 'Could not upload the image!'
		} else if (response) {
			this.$emit('changeValue', { image: response.name })
			this.imageName = response.name
			this.status.success = 'Image Uploaded'
		}
	}
	@Watch('imageName')
	watchImage(newValue: string): void {
		this.imageUrl =
			process.env.VUE_APP_IMAGES_FOLDER + '/products/' + newValue
	}
	@Watch('valueImage')
	watchImageValue(newValue: string): void {
		this.imageName = newValue
		this.imageUrl =
			process.env.VUE_APP_IMAGES_FOLDER + '/products/' + newValue
	}
}
</script>
