<template>
	<v-text-field
		v-model="name"
		:rules="[rules.name]"
		@input="$emit('changeValue', { name: $event })"
		filled
		label="Name*"
		ref="field"
		autocomplete="name"
	></v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldName extends Vue {
	@Prop() value: string
	private name = ''

	$refs!: {
		field: HTMLFormElement
	}
	private validation = true
	private rules = {
		name: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			this.$emit('checkValidation', { name: this.validation })
			return rule
		},
	}
	created(): void {
		this.$emit('changeValue', { name: this.name })
	}
	@Watch('value', { immediate: true })
	watchValue(newValue: string): void {
		this.name = newValue
	}
}
</script>
