<template>
	<v-text-field
		v-model="title"
		:rules="[rules.required]"
		@input="$emit('changeValue', { title: $event })"
		filled
		label="Title"
	></v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldTitle extends Vue {
	@Prop() value: string
	private title = ''
	private validation = true
	private rules = {
		required: (v: string) => {
			this.validation = true
			let rule: string | boolean = true
			if (!v) {
				rule = 'Field is required'
				this.validation = false
			}
			this.$emit('checkValidation', { title: this.validation })
			return rule
		},
	}

	mounted(): void {
		this.$emit('changeValue', { title: this.title })
	}

	@Watch('value')
	watchValue(newValue: string): void {
		this.title = newValue
	}
}
</script>
