<template>
	<v-text-field
		v-model="email"
		:rules="[rules.email]"
		@input="$emit('changeValue', { email: $event.toLowerCase() })"
		filled
		label="Email"
		type="email"
        autocomplete="username"
	>
	</v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldEmail extends Vue {
	@Prop() value: string
	private email = process.env.VUE_APP_USER_LOGIN || ''
	private validation = true

	private rules = {
		email: (v: string) => {
			this.validation = true
			let rule: boolean | string = true
			if (!(v || '').match(/@/)) {
				rule = 'Please enter a valid email'
				this.validation = false
			}
			this.$emit('checkValidation', { email: this.validation })
			return rule
		},
	}
	created(): void {
		this.$emit('changeValue', { email: this.email })
	}
	@Watch('value')
	watchValue(newValue: string): void {
		this.email = newValue
	}
}
</script>
