<template>
	<v-textarea
		description="input-7-1"
		value=""
		v-model="description"
		@input="$emit('changeValue', { description: $event })"
		filled
		label="Description"
	></v-textarea>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldDescription extends Vue {
	@Prop() value: string
	private description = ''
	private validation = true
	created(): void {
		this.$emit('changeValue', { description: this.description })
	}
	mounted(): void {
		this.$emit('checkValidation', { description: this.validation })
	}
	@Watch('value')
	watchValue(newValue: string): void {
		this.description = newValue
	}
}
</script>
