<template>
	<div>
		<div ref="dragProduct" class="draggable">
			<v-card class="mx-auto my-5 pa-5 " width="90%" max-width="90vh">
				<template slot="progress">
					<v-progress-linear
						color="primary"
						height="10"
						indeterminate
					></v-progress-linear>
				</template>
				<v-row align="center" class="pa-5">
					<v-card class="mx-auto pa-5" width="100%">
						<v-img
							contain
							max-height="50vh"
							:src="cardImage"
						></v-img>
					</v-card>
				</v-row>
				<v-row align="center">
					<v-card-title>
						{{ currentProduct.title }}
					</v-card-title>
					<v-card-title v-if="currentProduct.description">
						{{ currentProduct.description }}
					</v-card-title>
				</v-row>
				<v-row class="d-flex justify-space-around">
					<v-card-actions>
						<v-col>
							<v-btn color="red" @click="registerSwipe(false)">
								<v-icon>mdi-arrow-left</v-icon>
							</v-btn>
						</v-col>
						<v-col>
							<v-btn color="green" @click="registerSwipe(true)">
								<v-icon>mdi-arrow-right</v-icon>
							</v-btn>
						</v-col>
					</v-card-actions>
				</v-row>
			</v-card>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Interact
import interact from 'interactjs'

//Model
import { ProductModel } from '@/models/product'

//API
import LikeApi from '@/api/like.api'
import Responsive from '@/mixins/responsive.vue'

@Component({})
export default class Product extends Mixins(Responsive) {
	@Prop() currentProduct: ProductModel
	@Prop() isLoading: boolean

	private position = {
		x: 0,
		y: 0,
		rotation: 0,
	}

	private event = {}
	private swipeSensibility = 0.5
	private parentWidth = 0
	private hasSwiped = false
	private swipeValue: boolean

	created(): void {
		if (this.isMobile()) {
			this.swipeSensibility = 0.5
		}
	}

	mounted(): void {
		//Drag Element
		const element: any = this.$refs.dragProduct
		this.parentWidth = element.offsetWidth
		this.initInteract(element)
	}

	initInteract(element: any | null): void {
		interact(element).draggable({
			inertia: true,
			autoScroll: true,
			// onstart: this.onStart,
			onmove: this.onMove,
			onend: this.onDragEnd,
		})
	}
	/*
	onStart(event: any): void {}
    */
	onMove(event: Event | any): void {
		this.event = event
		this.position.x += event.dx
		this.position.y += event.dy
		event.target.style.transform = `translate(${this.position.x}px, ${this.position.y}px)`
	}
	onDragEnd(event: Event | any): void {
		this.event = event
		if (
			parseFloat((this.position.x / this.parentWidth).toFixed(1)) >
			this.swipeSensibility
		) {
			this.swipeValue = true
		} else if (
			parseFloat((this.position.x / this.parentWidth).toFixed(1)) <
			-this.swipeSensibility
		) {
			this.swipeValue = false
		}

		if (this.swipeValue !== undefined && this.isLoading === false) {
			this.registerSwipe(this.swipeValue)
		}
		this.resetCardPosition(event)
	}

	resetCardPosition(event: Event | any): void {
		this.position = {
			x: 0,
			y: 0,
			rotation: 0,
		}
		event.target.style.webkitTransform = event.target.style.transform =
			'translate(' + this.position.x + 'px, ' + this.position.y + 'px)'
	}

	async registerSwipe(swipeValue: boolean): Promise<void> {
		if (this.isLoading === false) {
			try {
				this.$emit('updateLoading', true)
				const [error, response] = await LikeApi.like({
					user_id: this.user_id,
					product_id: parseInt(this.productId),
					liked: swipeValue,
				})
				if (response) {
					this.$emit('changeCard')
				} else {
					this.$emit('emitError', error)
				}
			} catch (e) {
				console.log(e)
			} finally {
				this.$emit('updateLoading', false)
			}
		}
	}

	get productId(): string {
		return this.currentProduct.id.toString()
	}

	get user_id(): string {
		return this.$store.state.user.credentials.id
	}

	get cardImage(): string {
		return this.currentProduct.image
			? process.env.VUE_APP_IMAGES_FOLDER +
					'/products/' +
					this.currentProduct.image
			: ''
	}
}
</script>

<style scoped>
.draggable {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.v-card__title {
	font-size: 1rem;
}
</style>
