<template>
	<v-container id="productsContainer" fill-height>
		<v-row align="center" justify="center">
			<ProductCard
				v-if="showComponent()"
				ref="productCard"
				:currentProduct="currentProduct"
				:key="currentProduct.ID"
				:isLoading="isLoading"
				@changeCard="changeCard"
				@updateisLoading="updateisLoading"
				@emitError="emitError"
			/>
			<Status :valueStatus="status" />
		</v-row>
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Component
import ProductCard from '@/components/products/productCard.vue'

//Model
import { ProductModel } from '@/models/product'

//API
import ProductsApi from '@/api/product.api'
import ErrorModel from '@/models/errorModel'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		ProductCard,
	},
})
export default class ProductsSwipe extends Mixins(Status) {
	private products: Array<ProductModel>
	private currentProduct: ProductModel = {} as ProductModel

	private products_api_index = 0
	private products_api_page = 1

	$refs!: {
		productCard: HTMLFormElement
	}

	created(): void {
		//Let's get the User Info First
		this.getUserProductsInfo().then(() => {
			//And let's fetch the products
			this.fetchProducts()
		})

		//Keyboard Listener
		window.addEventListener('keydown', (e) => {
			if (
				this.$refs.productCard &&
				this.$refs.productCard.registerSwipe
			) {
				switch (e.keyCode) {
					case 37:
						this.$refs.productCard.registerSwipe(false)
						break
					case 39:
						this.$refs.productCard.registerSwipe(true)
						break
				}
			}
		})
	}

	async fetchProducts(): Promise<any> {
		this.isLoading = true
		try {
			const [error, response] = await ProductsApi.get({
				page: this.products_api_page,
			})
			if (error) {
				this.status.error = error
			} else if (response) {
				this.products = response.result
				//Stop if the product does not exist in the list
				if (this.products[this.products_api_index] == undefined) {
					throw new Error('No more products left!')
				}
				this.currentProduct = this.products[this.products_api_index]
			}
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}

	async changeCard(): Promise<void> {
		if (this.products_api_index === this.productsResultsLength - 1) {
			this.products_api_page++
			this.products_api_index = 0
			this.$store
				.dispatch('updateUser', {
					user_id: this.user_id,
					products_api_page: this.products_api_page,
					products_api_index: this.products_api_index,
				})
				.then(() => {
					this.fetchProducts()
					this.products_api_index = 0
				})
		} else {
			try {
				this.products_api_index++
				//Stop if the product does not exist in the list
				if (this.products[this.products_api_index] == undefined) {
					throw new Error('No more products left!')
				}
				this.currentProduct = this.products[this.products_api_index]
			} catch (error) {
				this.status.info = error.message
			}
		}
		this.$store
			.dispatch('updateUser', {
				user_id: this.user_id,
				products_api_page: this.products_api_page,
				products_api_index: this.products_api_index,
			})
			.then(() => {
				this.$store.commit(
					'SET_USER_PRODUCTS_API_INDEX',
					this.products_api_index
				)
				this.$store.commit(
					'SET_USER_PRODUCTS_API_PAGE',
					this.products_api_page
				)
			})
			.catch((e) => {
				this.status.error = e
			})
	}

	updateisLoading(value: boolean): void {
		this.isLoading = value
	}

	emitError(error: ErrorModel): void {
		this.status.error = error
	}

	get productsResultsLength(): number {
		if (this.products) {
			return this.products.length
		} else {
			return 0
		}
	}

	async getUserProductsInfo(): Promise<void> {
		const userInfo = await this.$store.getters.getUserInfo
		this.products_api_index = userInfo.products_api_index
		this.products_api_page = userInfo.products_api_page
	}

	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>

<style lang="scss" scoped>
#productsContainer {
	height: 90vh;
	width: 500px;
	max-width: 90vw;
	overflow: hidden;
	position: relative;
}
</style>
