<template>
	<v-container>
		<div>
			<h1>{{ product.title }}</h1>
			<v-btn color="primary" @click.prevent="changeLike" depressed>
				<span v-if="!product.liked">Like</span>
				<span v-else>Unlike</span>
			</v-btn>
			<v-img
				contain
				:src="image"
				max-height="75vh"
				max-width="50vw"
			></v-img>
			<p>{{ product.description }}</p>
		</div>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Mixins, Component } from 'vue-property-decorator'

//Model
import { ProductModel } from '@/models/product'

//Mixins
import Status from '@/mixins/status.vue'

@Component({})
export default class SingleProduct extends Mixins(Status) {
	private product: ProductModel = {} as ProductModel
	mounted(): void {
		if (this.getProductId()) {
			this.getProduct(this.getProductId())
		}
	}
	async getProduct(productId: number): Promise<void> {
		this.isLoading = true
		const likedProducts = this.$store.getters.getLikedProducts
		const product = likedProducts.filter((p: ProductModel) => {
			return p.id === productId
		})
		if (product[0]) {
			this.product = product[0]
		} else {
			this.status.error.message = 'Product not available'
		}
		this.isLoading = false
	}
	get image(): string {
		if (this.product.image) {
			return (
				process.env.VUE_APP_IMAGES_FOLDER +
				'/products/' +
				this.product.image
			)
		} else {
			return ''
		}
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
	getProductId(): number {
		return parseInt(this.$route.params.productId)
	}
	changeLike(): void {
		this.$store.dispatch('likeProduct', {
			product: this.product,
			user_id: this.user_id,
		})
		this.product = {
			...this.product,
			...{
				liked: !this.product.liked,
			},
		}
	}
}
</script>
