<template>
	<div>
		<adminPanel
			:loading="!isLoading"
			title="Products"
			element="product"
			route="products"
			:items="items"
			:headers="headers"
			sortColumn="id"
			:sortColumnDesc="false"
			:actions="{ view: true, create: true, like: true }"
			@likeProduct="likeProduct"
		/>
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from 'vue-property-decorator'
import adminPanel from '@/components/panel.vue'

//Model
import { ProductModel } from '@/models/product'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class ListProducts extends Mixins(Status) {
	@Prop() products: Array<ProductModel>
	private items: Array<ProductModel> = []
	private headers = [
		{
			text: 'Title',
			align: 'start',
			sortable: true,
			value: 'title',
		},
		{
			text: 'Image',
			value: 'image',
			sortable: false,
			align: 'center',
		},
		{
			text: 'Liked',
			value: 'liked',
			sortable: true,
			align: 'center',
		},
		{ text: 'Actions', value: 'actions', align: 'center', sortable: false },
	]

	async likeProduct(product: ProductModel): Promise<void> {
		this.$store.dispatch('likeProduct', {
			user_id: this.user_id,
			product: product,
		})
		const index = this.items.indexOf(product)
		let item = this.items[index]
		this.items.splice(index, 1, {
			...item,
			...{
				liked: !item.liked,
			},
		})
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}

	created(): void {
		this.items = this.products
	}

	@Watch('products')
	watchProducts(newValue: ProductModel[]): void {
		this.items = newValue
	}
}
</script>

<style scoped></style>
