<template>
	<v-app id="app" v-if="getRole() === 'administrator'">
		<div>
			<Header />
			<Sidebar />
			<v-main>
				<router-view />
			</v-main>
			<Footer />
		</div>
	</v-app>
</template>

<script lang="ts">
import store from '@/store'

import { Component, Vue } from 'vue-property-decorator'
import Header from '@/components/layout/header.vue'
import Sidebar from '@/components/layout/sidebar.vue'
import Footer from '@/components/layout/footer.vue'

@Component({
	components: {
		Header,
		Footer,
		Sidebar,
	},
})
export default class Admin extends Vue {
	getRole(): string | null {
		if (store.getters.getUserInfo.role) {
			return store.getters.getUserInfo.role
		} else {
			return null
		}
	}
}
</script>

<style></style>
