<template>
	<v-container v-if="!isLoading">
		<div>
			<h1>{{ event.title }}</h1>
			<v-divider class="my-5"></v-divider>
			<p>{{ event.description }}</p>
			<ul>
				<li>Start: {{ transformDate(event.start) }}</li>
				<li>End: {{ transformDate(event.end) }}</li>
			</ul>
			<v-divider class="my-5"></v-divider>
			<v-btn color="primary" @click="register"
				><span v-if="!isRegistered">Register to this event</span
				><span v-if="isRegistered">Remove registration</span></v-btn
			>
		</div>
		<Users v-if="event.users" :usersID="event.users" />
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Mixins, Component, Watch } from 'vue-property-decorator'

//Model
import { EventModel } from '@/models/event'

//Components
import Users from '@/components/users/userListAvatar.vue'

//API
import EventApi from '@/api/event.api'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Users,
	},
})
export default class SingleEvent extends Mixins(Status) {
	private event: EventModel = {} as EventModel
	private isRegistered = false
	mounted(): void {
		if (this.event_id) {
			this.getEvent(this.event_id)
		}
	}
	async getEvent(eventId: number): Promise<void> {
		this.isLoading = true
		try {
			const [error, response] = await EventApi.getSingle(eventId)
			if (response && !error) {
				this.event = response
			} else if (error) {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}
	async register(): Promise<void> {
		try {
			const [error, response] = await EventApi.register({
				user_id: this.user_id,
				event_id: this.event_id,
			})
			if (response && !error) {
				this.event = response
			} else if (error) {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.info = error.message
		}
	}
	checkRegistration(event: EventModel): void {
		const isRegistered = event.users.find((uuid: string) => {
			return this.user_id === uuid
		})
		isRegistered ? (this.isRegistered = true) : (this.isRegistered = false)
	}
	transformDate(date: Date): Date {
		let newDate = new Date(date)
		return newDate
	}
	@Watch('event')
	watchEvent(newValue: EventModel): void {
		this.checkRegistration(newValue)
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
	get event_id(): number {
		return parseInt(this.$route.params.eventId)
	}
}
</script>
