<template>
	<v-container class="pa-6 mx-auto">
		<Calendar v-if="!isLoading" :events="events" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Calendar from '@/components/calendar/calendar.vue'

//Model
import { EventModel } from '@/models/event'

//Api
import EventApi from '@/api/event.api'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Calendar,
	},
})
export default class ViewCalendar extends Mixins(Status) {
	private events = {} as EventModel[]
	mounted(): void {
		this.fetchEvents()
	}
	async fetchEvents(): Promise<void> {
		this.isLoading = true
		try {
			const [error, response] = await EventApi.get()
			if (response && !error) {
				this.events = response.result
			} else if (error) {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}
}
</script>

<style></style>
