<template>
	<v-container>
		<adminPanel
			:loading="loading"
			title="Directory"
			element="user"
			route="users"
			:items="items"
			:headers="headers"
			sortColumn="name"
			:sortColumnDesc="true"
			:validateItem="true"
			:actions="{ view: true }"
		/>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import adminPanel from '@/components/panel.vue'

//Model
import { UserModel } from '@/models/user'

//API
import UsersApi from '@/api/user.api'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class ViewUsers extends Mixins(Status) {
	private loading = true
	private items: Array<UserModel['credentials']> = []
	private headers = [
		{
			text: '',
			align: 'start',
			sortable: false,
			value: 'avatar',
		},
		{
			text: 'Name',
			align: 'start',
			sortable: true,
			value: 'name',
		},
		{ text: 'Actions', align: 'center', value: 'actions', sortable: false },
	]
	mounted(): void {
		this.fetchUsers()
	}
	async fetchUsers(): Promise<void> {
		this.loading = true
		const [error, response] = await UsersApi.get()
		if (error) {
			this.status.error = error.message
		} else if (response) {
			this.items = response.result
		}
		this.loading = false
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>

<style scoped></style>
