<template>
	<v-container>
		<Status :valueStatus="status" />
		<v-row no-gutters class="mb-6">
			<v-col cols="1"
				><v-avatar color="orange" size="62">
					<span class="white--text text-h5">{{ this.avatar }}</span>
				</v-avatar>
			</v-col>
			<v-col cols="11">
				<h1>{{ user.name }}</h1>
			</v-col>
		</v-row>

		<v-card>
			<v-tabs
				v-model="tab"
				background-color="primary"
				centered
				dark
				icons-and-text
			>
				<v-tabs-slider></v-tabs-slider>

				<v-tab href="#general">
					General
					<v-icon>mdi-account</v-icon>
				</v-tab>

				<v-tab href="#products">
					Products
					<v-icon>mdi-bottle-wine</v-icon>
				</v-tab>

				<v-tab href="#likes">
					Likes
					<v-icon>mdi-account-heart</v-icon>
				</v-tab>

				<v-tab href="#contact">
					Contact
					<v-icon>mdi-email</v-icon>
				</v-tab>
			</v-tabs>

			<v-tabs-items v-model="tab" class="pa-3">
				<v-tab-item value="general">
					<v-row no-gutters v-if="user.description">
						{{ user.description }}
					</v-row> </v-tab-item
				><v-tab-item value="products">
					<ListProducts :products="products" /> </v-tab-item
				><v-tab-item value="likes">
					<Likes :products="likes" /> </v-tab-item
				><v-tab-item value="contact">
					<Contact :user="user" />
				</v-tab-item>
			</v-tabs-items>
		</v-card>
	</v-container>
</template>

<script lang="ts">
import { Mixins, Component } from 'vue-property-decorator'

//Model
import { UserModel } from '@/models/user'
import { ProductModel } from '@/models/product'
import { LikeModel } from '@/models/like'

//Mixins
import Status from '@/mixins/status.vue'

//Api
import userApi from '@/api/user.api'
import productApi from '@/api/product.api'
import likeApi from '@/api/like.api'

//Functions
import getAvatar from '@/functions/user/getAvatar'

//Components
import ListProducts from '@/components/products/productsList.vue'
import Likes from '@/components/likes/likesList.vue'
import Contact from '@/components/contact/contactForm.vue'

@Component({
	components: {
		ListProducts,
		Likes,
		Contact,
	},
})
export default class SingleUser extends Mixins(Status) {
	private tab = null
	private items = ['general', 'products', 'likes', 'contact']
	private user: UserModel['credentials'] = {} as UserModel['credentials']
	private products: Array<ProductModel> = []
	private likes: LikeModel[] = []

	mounted(): void {
		if (this.username) {
			this.initUserPage()
		}
	}
	async initUserPage(): Promise<void> {
		this.isLoading = true
		await this.fetchUser(this.username)
		await this.fetchProducts()
		await this.fetchLikes()
		this.isLoading = false
	}
	async fetchUser(username: string): Promise<void> {
		const [error, response] = await userApi.getSingle({
			username: username,
		})
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.user = response.credentials
		}
	}
	async fetchProducts(): Promise<void> {
		this.products = this.$store.getters.getLikedProducts
		const [error, response] = await productApi.get({
			user_id: this.user_id,
		})
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.products = response.result
		}
	}
	async fetchLikes(): Promise<void> {
		const [error, response] = await likeApi.get({ by: 'user', liked: true })
		if (response && !error) {
			this.likes = response.result
		} else if (error) {
			this.status.info = error.message
		}
	}
	get avatar(): string {
		return getAvatar(this.user)
	}
	get username(): string {
		return this.$route.params.username
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>
