<template>
	<div>
		<h2 class="my-5">Registered</h2>
		<v-row class="px-3 py-0" v-if="usersID.length > 0">
			<div v-for="user in users" :key="user.id">
				<v-avatar color="primary" size="56">
					<img
						v-if="user.avatar"
						:src="getImagesPathFolder() + '/' + user.avatar"
						class="avatar"
					/>
					<span v-else class="avatar">{{
						this.getAvatar(user)
					}}</span>
				</v-avatar>
			</div>
		</v-row>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { UserModel } from '@/models/user'
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Mixins
import Status from '@/mixins/status.vue'
import userApi from '@/api/user.api'

//Functions
import getAvatar from '@/functions/user/getAvatar'

@Component({})
export default class UsersList extends Mixins(Status) {
	@Prop() usersID: Array<string>
	private users = {} as UserModel[]

	mounted(): void {
		this.fetchUsers()
	}
	async fetchUsers(): Promise<void> {
		this.isLoading = true
		try {
			const [error, response] = await userApi.get({ users: this.usersID })
			if (response && !error) {
				this.users = response.result
			} else if (error) {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}
	getImagesPathFolder(): string {
		return process.env.VUE_APP_IMAGES_FOLDER + '/users/'
	}
	getAvatar(credentials: UserModel['credentials']): string {
		return getAvatar(credentials)
	}
}
</script>

<style scoped>
.avatar {
	color: white;
}
</style>
