<template>
	<v-app-bar app color="white">
		<v-app-bar-nav-icon
			v-if="this.isMobile()"
			@click.stop="$emit('changeDrawerValueFromHeader')"
		></v-app-bar-nav-icon>
		<Logo />
		<v-spacer></v-spacer>
		<span v-if="userLoggedStatus() && !this.isMobile()" class="mr-3"
			>Welcome {{ getName() }} !</span
		>
		<v-btn text v-if="!userLoggedStatus()" to="/register">
			Register
		</v-btn>

		<v-btn
			text
			v-if="
				getRole() === 'administrator' &&
					getEnvironmentVariable() === 'app'
			"
			@click="redirectAdmin('admin')"
		>
			Admin
		</v-btn>
		<v-btn
			text
			v-if="userLoggedStatus() && getEnvironmentVariable() === 'app'"
			to="/profile"
		>
			Profile
		</v-btn>
		<v-btn
			text
			v-if="
				getRole() === 'administrator' &&
					getEnvironmentVariable() === 'admin'
			"
			@click="redirectAdmin('app')"
		>
			App
		</v-btn>
		<v-btn text v-if="!userLoggedStatus()" to="/login">
			Login
		</v-btn>
		<Logout v-if="userLoggedStatus()" />
	</v-app-bar>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Logo from '@/components/layout/logo.vue'
import Logout from '@/components/auth/formLogout.vue'
import store from '@/store'

//Mixins
import Responsive from '@/mixins/responsive.vue'

@Component({
	components: {
		Logo,
		Logout,
	},
})
export default class Header extends Mixins(Responsive) {
	userLoggedStatus(): boolean {
		return this.$store.getters.getUserLoggedStatus
	}
	getRole(): string | null {
		if (this.userLoggedStatus()) {
			return store.getters.getUserInfo.role
		} else return null
	}
	getName(): string | null {
		if (this.userLoggedStatus()) {
			return store.getters.getUserInfo.name
		} else return null
	}
	getEnvironmentVariable(): string {
		return this.$store.getters.getEnvironmentType
	}
	redirectAdmin(environment: string): void {
		if (environment === 'app') {
			window.location.href = process.env.VUE_APP_BASE_URL
		} else {
			window.location.href = process.env.VUE_APP_ADMIN_URL
		}
	}
}
</script>

<style></style>
