<template>
	<router-link to="/">
		<v-img
			alt="Logo"
			class="shrink mt-1 hidden-sm-and-down"
			contain
			min-width="100"
			src="https://provence-wine-connect.com/wp-content/uploads/2020/04/cropped-logo_vin_provence-300x134.png"
			width="100"
		/>
	</router-link>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
	components: {},
})
export default class Logo extends Vue {}
</script>

<style></style>
