<template>
	<div>
		<v-navigation-drawer
			v-model="drawer"
			@input="changeDrawerValueFromSidebar"
			color="primary"
			:app="drawerParams.app"
			:permanent="drawerParams.permanent"
			:temporary="drawerParams.temporary"
			:expand-on-hover="drawerParams.expandOnHover"
		>
			<v-list nav dense>
				<div v-for="item in items" :key="item.id">
					<div v-if="!item.sublinks">
						<v-list-item link :to="item.link">
							<v-list-item-icon>
								<v-icon>{{ item.icon }}</v-icon>
							</v-list-item-icon>
							<v-list-item-title>{{
								item.title
							}}</v-list-item-title>
						</v-list-item>
					</div>
					<div v-else>
						<v-list-group no-action>
							<template v-slot:activator>
								<v-list-item-icon>
									<v-icon>{{ item.icon }}</v-icon>
								</v-list-item-icon>
								<v-list-item-title>{{
									item.title
								}}</v-list-item-title>
							</template>

							<v-list-item
								v-for="sublink in item.sublinks"
								:to="sublink.link"
								:key="sublink.id"
							>
								<v-list-item-icon>
									<v-icon>{{ sublink.icon }}</v-icon>
								</v-list-item-icon>
								<v-list-item-title>{{
									sublink.title
								}}</v-list-item-title>
							</v-list-item>
						</v-list-group>
					</div>
				</div>
			</v-list>
		</v-navigation-drawer>
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from 'vue-property-decorator'
import sidebarDataApp from '@/_app/data/sidebar'
import sidebarDataAdmin from '@/_admin/data/sidebar'

//Mixins
import Responsive from '@/mixins/responsive.vue'

@Component({
	components: {},
})
export default class Sidebar extends Mixins(Responsive) {
	private drawer = true
	private drawerParams = {
		app: true,
		temporary: false,
		permanent: true,
		expandOnHover: false,
	}

	@Prop() propDrawer: boolean
	private mini = false
	private items: any
	userLoggedStatus(): boolean {
		return this.$store.getters.getUserLoggedStatus
	}
	getEnvironmentVariable(): string {
		return this.$store.getters.getEnvironmentType
	}
	created(): void {
		if (this.getEnvironmentVariable() === 'admin') {
			this.items = sidebarDataAdmin
		} else {
			this.items = sidebarDataApp
		}

		//Responsive
		if (this.isMobile()) {
			this.drawerParams.permanent = false
		}
	}
	changeDrawerValueFromSidebar(value: boolean): void {
		this.$emit('changeDrawerValueFromSidebar', value)
	}
	@Watch('propDrawer')
	watchDrawerValue(newValue: boolean): void {
		this.drawer = newValue
	}
}
</script>

<style scoped>
.v-list-item__title {
	color: white;
}
i.v-icon.v-icon {
	color: white;
}
</style>
