<template>
	<v-container class="mx-auto">
		<ListProducts :products="products" />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ListProducts from '@/components/products/productsList.vue'
import { ProductModel } from '@/models/product'

@Component({
	components: {
		ListProducts,
	},
})
export default class ViewProducts extends Vue {
	private products: Array<ProductModel> = []
	mounted(): void {
		this.fetchProducts()
	}
	async fetchProducts(): Promise<void> {
		this.products = this.$store.getters.getLikedProducts
	}
}
</script>

<style></style>
