<template>
	<v-container class="mx-auto">
		<Product />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Product from '@/components/products/productSingle.vue'

@Component({
	components: {
		Product,
	},
})
export default class ViewProduct extends Vue {}
</script>

<style></style>
