<template>
	<v-container class="mx-auto">
		<Likes :products="products" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Likes from '@/components/likes/likesList.vue'

//Mixins
import Status from '@/mixins/status.vue'

//Model
import { ProductModel } from '@/models/product'

@Component({
	components: {
		Likes,
	},
})
export default class ViewLikes extends Mixins(Status) {
	private products: Array<ProductModel> = []
	created(): void {
		this.getLikes()
	}
	async getLikes(): Promise<void> {
		try {
			this.isLoading = true
			let products = await this.$store.getters.getLikedProducts
			products = products.filter((p: ProductModel) => {
				return p.liked === true
			})
			this.products = products
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}
}
</script>

<style></style>
