<template>
	<FullCalendar :options="calendarOptions" />
</template>

<script lang="ts">
import '@fullcalendar/core/vdom' // solves problem with Vite
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'

import { Component, Mixins, Prop } from 'vue-property-decorator'

//Mixins
import Status from '@/mixins/status.vue'

//Model
import { EventModel } from '@/models/event'

@Component({
	components: {
		FullCalendar,
	},
})
export default class Calendar extends Mixins(Status) {
	@Prop() events: EventModel[]
	calendarOptions = {
		initialView: 'dayGridMonth',
		plugins: [dayGridPlugin],
		events: {},
		eventClick: (info: any): void => {
			this.onEventClick(info.event)
		},
	}

	mounted(): void {
		this.calendarOptions.events = this.events
	}

	onEventClick(event: EventModel): void {
		this.$router.push('/events/s/' + event.id)
	}
}
</script>
