<template>
	<v-container>
		<Products />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Products from '@/components/products/productsSwipe.vue'
@Component({
	components: {
		Products,
	},
})
export default class Home extends Vue {}
</script>

<style scoped></style>
