<template>
	<v-container>
		<h1>Activate your account</h1>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Mixins
import Status from '@/mixins/status.vue'

//API
import UserApi from '@/api/user.api'

@Component({
	components: {},
})
export default class ViewUserActivation extends Mixins(Status) {
	private token = ''
	private isTokenValid = false
	getToken(): string {
		const query: any = this.$route.query
		return query.token || ''
	}
	mounted(): void {
		this.activateUser()
	}
	async activateUser(): Promise<void> {
		try {
			const [error, response] = await UserApi.activate(this.getToken())
			if (response && !error) {
				this.status.success =
					'User Account activated with success ! You will be redirected in few seconds on the login page.'
				setTimeout(() => {
					this.$router.push('/login')
				}, 4000)
			} else {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.error.message = error
		}
	}
}
</script>
