<template>
	<v-container class="mx-auto" style="max-width:500px">
		<LoginForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LoginForm from '@/components/auth/formLogin.vue'

@Component({
	components: {
		LoginForm,
	},
})
export default class Login extends Vue {}
</script>

<style></style>
