<template>
	<v-container class="mx-auto" style="max-width:500px">
		<LostPasswordForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LostPasswordForm from '@/components/auth/formLostPassword.vue'

@Component({
	components: {
		LostPasswordForm,
	},
})
export default class LostPassword extends Vue {}
</script>

<style></style>
