<template>
	<v-container class="mx-auto" style="max-width:500px">
		<RegisterForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import RegisterForm from '@/components/auth/formRegister.vue'

@Component({
	components: {
		RegisterForm,
	},
})
export default class Register extends Vue {}
</script>

<style></style>
