<template>
	<div class="pa-3 ma-3">
		<v-form ref="form" @submit.prevent="sendEmail" :disabled="isDisabled">
			<EmailSubject
				ref="fieldEmailSubject"
				@changeValue="changeValue"
				@checkValidation="checkValidation"
			/>
			<EmailContent
				ref="fieldEmailContent"
				@changeValue="changeValue"
				@checkValidation="checkValidation"
			/>
			<v-spacer></v-spacer>
			<v-row>
				<v-col class="text-right">
					<v-btn
						color="primary"
						@click.prevent="sendEmail"
						:disabled="isDisabled || !isFormValid"
						>Send
					</v-btn>
				</v-col>
			</v-row>
		</v-form>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Models
import { UserModel } from '@/models/user'
import EmailModel from '@/models/email'

//API
import EmailApi from '@/api/email.api'

//Fields
import EmailSubject from '@/components/fields/fieldEmailSubject.vue'
import EmailContent from '@/components/fields/fieldEmailContent.vue'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		EmailSubject,
		EmailContent,
	},
})
export default class FormContact extends Mixins(Status, Form) {
	@Prop() user: UserModel['credentials']
	private isDisabled = false
	protected form = {
		email: '',
		content: '',
		name: '',
		subject: '',
	} as EmailModel
	protected formFieldsValidation: EmailModel = {
		email: true,
		content: false,
		subject: false,
		name: true,
	}
	mounted(): void {
		this.form.email = this.user.email
		this.form.name = this.user.name
	}
	async sendEmail(): Promise<void> {
		const [errorEmail, responseEmail] = await EmailApi.send(this.form)
		if (errorEmail && !responseEmail) {
			this.status.error = errorEmail
		} else if (responseEmail) {
			this.status.success = 'Email sent !'
			this.isDisabled = true
		}
	}
}
</script>
