<template>
	<v-data-table
		:headers="this.headers"
		:items="items"
		item-key="id"
		:search="search"
		class=" pa-3"
		:sort-by="sortColumn"
		:sort-desc="sortColumnDesc"
		loading-text="Loading... Please wait"
		:items-per-page="30"
		:footer-props="{
			'items-per-page-options': [10, 20, 30, 40, 50],
		}"
	>
		<template v-slot:top>
			<v-toolbar flat>
				<template
					v-if="actions.create === true && userCapabilities.create"
				>
					<v-btn @click="addItem" color="primary" dark class="mb-2">
						New {{ element }}
					</v-btn>
				</template>
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="mdi-magnify"
					label="Search"
					single-line
					hide-details
				></v-text-field>

				<v-dialog v-model="dialogDelete" max-width="500px">
					<v-card>
						<v-card-title class="text-h5"
							>Are you sure you want to delete this
							item?</v-card-title
						>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn
								color="blue darken-1"
								text
								@click="closeDelete"
								>Cancel</v-btn
							>
							<v-btn
								color="blue darken-1"
								text
								@click="deleteItemConfirm"
								>Yes</v-btn
							>
							<v-spacer></v-spacer>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
		</template>

		<template if v-slot:[`item.avatar`]="{ item }">
			<v-avatar class="my-3" color="orange" size="48">
				<span class="white--text text-h5">{{ getAvatar(item) }}</span>
			</v-avatar>
		</template>

		<template if v-slot:[`item.image`]="{ item }">
			<img
				v-if="item.image"
				@error="imageLoadError"
				:src="getImagesPathFolder() + '/' + item.image"
			/>
		</template>

		<template if v-slot:[`item.created`]="{ item }">
			<span v-if="item.created">{{ item.created.substring(0, 10) }}</span>
		</template>

		<template if v-slot:[`item.start`]="{ item }">
			<span>{{ transformDate(item.start) }}</span>
		</template>

		<template if v-slot:[`item.end`]="{ item }">
			<span>{{ transformDate(item.end) }}</span>
		</template>

		<template if v-slot:[`item.liked`]="{ item }">
			<span v-if="item.liked">Yes</span>
			<span v-else>No</span>
		</template>

		<template v-slot:[`item.actions`]="{ item }">
			<v-tooltip bottom v-if="actions.validate">
				<template v-slot:activator="{ on, attrs }">
					<v-icon
						class="mr-2"
						v-if="item.role != 'administrator'"
						@click="
							$emit('validateItem', {
								id: item.id,
								index: items.indexOf(item),
							})
						"
						v-bind="attrs"
						v-on="on"
					>
						{{ getActivatedIcon(item.activated) }}
					</v-icon>
				</template>
				<span v-if="item.activated">Desactivate {{ element }}</span>
				<span v-if="!item.activated">Validate {{ element }}</span>
			</v-tooltip>

			<v-tooltip bottom v-if="actions.view">
				<template v-slot:activator="{ on, attrs }">
					<v-icon
						class="mr-2"
						@click="goToItem(item)"
						v-bind="attrs"
						v-on="on"
					>
						mdi-eye
					</v-icon>
				</template>
				<span>View {{ element }}</span>
			</v-tooltip>
			<v-tooltip bottom v-if="actions.like">
				<template v-slot:activator="{ on, attrs }">
					<v-icon
						v-if="!item.liked"
						class="mr-2"
						@click="likeProduct(item)"
						v-bind="attrs"
						v-on="on"
					>
						mdi-heart-plus
					</v-icon>
					<v-icon
						v-else
						class="mr-2"
						@click="likeProduct(item)"
						v-bind="attrs"
						v-on="on"
					>
						mdi-heart-minus
					</v-icon>
				</template>
				<span v-if="item.liked">Dislike {{ element }}</span>
				<span v-else>Like {{ element }}</span>
			</v-tooltip>

			<v-tooltip bottom v-if="actions.edit">
				<template v-slot:activator="{ on, attrs }">
					<v-icon
						class="mr-2"
						@click="editItem(item)"
						v-bind="attrs"
						v-on="on"
					>
						mdi-pencil
					</v-icon>
				</template>
				<span>Edit {{ element }}</span>
			</v-tooltip>

			<v-tooltip bottom v-if="actions.delete">
				<template v-slot:activator="{ on, attrs }">
					<v-icon
						class="mr-2"
						@click="deleteItem(item)"
						v-bind="attrs"
						v-on="on"
					>
						mdi-delete
					</v-icon>
				</template>
				<span>Delete {{ element }}</span>
			</v-tooltip>
		</template>
	</v-data-table>
</template>

<script lang="ts">
import { ProductModel } from '@/models/product'
import { Component, Vue, Prop } from 'vue-property-decorator'

//Functions
import getAvatar from '@/functions/user/getAvatar'
import { UserModel } from '@/models/user'

@Component({})
export default class Panel extends Vue {
	@Prop() items: []
	@Prop() headers: []
	@Prop() title: string
	@Prop() element: string
	@Prop() route: string
	@Prop() loading: boolean
	@Prop() actions: {
		view: boolean
		delete: boolean
		create: boolean
		edit: boolean
		validate: boolean
		like: boolean
	}
	@Prop() sortColumn: string
	@Prop() sortColumnDesc: boolean

	private search = ''
	private dialog = false
	private dialogDelete = false

	private selectedIndex = -1
	private selectedItem: any

	addItem(): void {
		this.$router.push('/' + this.route + '/add')
	}
	imageLoadError(event: Event): void {
		const target: any = event.target
		target.src = process.env.VUE_APP_IMAGES_FOLDER + '/noimage.png'
	}
	getImagesPathFolder(): string {
		return process.env.VUE_APP_IMAGES_FOLDER + '/' + this.route
	}
	avatarLoadError(event: Event): void {
		const target: any = event.target
		target.src = process.env.VUE_APP_IMAGES_FOLDER + '/noavatar.png'
	}
	getUserRole(): string {
		return this.$store.state.user.credentials.role
	}
	editItem(item: any | never): void {
		this.$router.push('/' + this.route + '/edit/' + item.id)
	}
	goToItem(item: any | never): void {
		if (this.element === 'user') {
			this.$router.push(this.route + '/u/' + item.username)
		} else {
			this.$router.push(this.route + '/s/' + item.id)
		}
	}
	getActivatedIcon(activated: boolean): string {
		if (activated) {
			return 'mdi-account-cancel'
		} else {
			return 'mdi-account-check'
		}
	}
	likeProduct(product: ProductModel): void {
		this.$emit('likeProduct', product)
	}
	deleteItem(item: never): void {
		this.selectedItem = Object.assign({}, item)
		this.selectedIndex = this.items.indexOf(item)
		this.dialogDelete = true
	}
	transformDate(date: string): string {
		let newDate = date.substring(0, 10) + ' - ' + date.substring(11, 16)
		return newDate
	}
	async deleteItemConfirm(): Promise<void> {
		this.$emit('deleteElement', {
			id: this.selectedItem.id,
			index: this.selectedIndex,
		})
		this.closeDelete()
	}
	close(): void {
		this.dialog = false
	}
	closeDelete(): void {
		this.dialogDelete = false
	}
	getAvatar(user: UserModel['credentials']): string {
		return getAvatar(user)
	}
	get userCapabilities(): UserModel['capabilities'] {
		return this.$store.getters.getUserCapabilities[this.element]
	}
}
</script>

<style scoped>
img {
	max-width: 50px;
	max-height: 50px;
}
</style>
