<template>
	<div>
		<adminPanel
			title="Likes"
			element="product"
			route="products"
			:items="products"
			:headers="headers"
			sortColumn="title"
			:sortColumnDesc="false"
			:actions="{ view: true, crud: false }"
		/>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Components
import adminPanel from '@/components/panel.vue'

//Model
import { ProductModel } from '@/models/product'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class LikesList extends Mixins(Status) {
	@Prop() products: Array<ProductModel>
	private headers = [
		{
			text: 'Title',
			align: 'start',
			sortable: true,
			value: 'title',
		},
		{
			text: 'Image',
			value: 'image',
			align: 'center',
			sortable: false,
		},
		{
			text: 'Actions',
			align: 'end',
			value: 'actions',
			sortable: false,
		},
	]

	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>

<style scoped></style>
