<template>
	<div></div>
</template>

<script lang="ts">
import FormModel from '@/models/form'
import { Component, Vue, Watch } from 'vue-property-decorator'

@Component({})
export default class Form extends Vue {
	protected form: FormModel | any = {}
	protected formFieldsValidation: FormModel | any = {}
	protected isLoading = false
	protected isFormValid = false

	mounted(): void {
		this.validateForm()
	}
	//Methods
	createValidateForm(): void {
		Object.keys(this.form).map((e: string) => {
			this.formFieldsValidation[e] = false
		})
	}
	userLoggedStatus(): boolean {
		return this.$store.getters.getUserLoggedStatus
	}
	changeValue(field: Record<string, unknown>): void {
		var fieldKey: any = Object.keys(field)
		var fieldValue = Object(field)[fieldKey]
		this.form[fieldKey] = fieldValue
	}
	checkValidation(field: Record<string, unknown>): void {
		var fieldKey: any = Object.keys(field)
		var fieldValue = Object(field)[fieldKey]
		this.formFieldsValidation[fieldKey] = fieldValue
	}
	validateForm(): void {
		if (Object.values(this.formFieldsValidation).every(Boolean)) {
			this.isFormValid = true
		} else {
			this.isFormValid = false
		}
	}
	@Watch('formFieldsValidation', { deep: true })
	watchformFieldsValidation(): void {
		this.isFormValid = true
		if (Object.values(this.formFieldsValidation).every(Boolean)) {
			this.isFormValid = true
		} else {
			this.isFormValid = false
		}
	}
}
</script>
