<template>
	<div>
		<v-overlay :value="isLoading">
			<v-progress-circular color="primary" indeterminate size="64">
			</v-progress-circular>
		</v-overlay>
		<div v-if="status">
			<div v-if="status.error.message">
				<v-alert type="error">{{ status.error.message }}</v-alert>
			</div>
			<div v-else>
				<v-alert v-if="status.success" type="success">{{
					status.success
				}}</v-alert>
				<v-alert v-if="status.info" type="info">{{
					status.info
				}}</v-alert>
				<v-alert v-if="status.warning" type="warning">{{
					status.warning
				}}</v-alert>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
//Model
import StatusModel from '@/models/statusModel'
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
@Component({})
export default class Status extends Vue {
	@Prop() protected valueStatus: StatusModel
	protected isLoading = false
	protected status: StatusModel = {
		success: '',
		error: {
			code: '',
			message: '',
			content: '',
		},
		warning: '',
		info: '',
	} as StatusModel

	@Watch('valueStatus', { deep: true })
	watchStatus(newValue: StatusModel): void {
		this.status = newValue
	}

	mounted(): void {
		this.showComponent()
	}

	showComponent(): boolean {
		if (this.status.error.message) {
			return false
		} else if (this.status.warning) {
			return false
		} else if (this.status.info) {
			return false
		} else {
			return true
		}
	}
}
</script>
