<template>
	<v-container>
		<h1>Edit Product</h1>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="editProduct"
			>
				<FieldTitle
					ref="fieldTitle"
					:value="form.title"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDescription
					ref="fieldDescription"
					:value="form.description"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldImage
					ref="fieldImage"
					:valueImage="form.image"
					typeForm="edit"
					route="products"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
			</v-form>
			<v-card-actions>
				<v-btn
					:disabled="!isFormValid"
					color="primary"
					type="submit"
					@click.prevent="editProduct"
					:loading="isLoading"
					depressed
					>Update Product</v-btn
				>
			</v-card-actions>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { ProductForm } from '@/models/product'

//API
import ProductsApi from '@/api/product.api'

//Fields
import FieldTitle from '@/components/fields/fieldTitle.vue'
import FieldDescription from '@/components/fields/fieldDescription.vue'
import FieldImage from '@/components/fields/fieldImage.vue'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		FieldTitle,
		FieldDescription,
		FieldImage,
	},
})
export default class EditProductForm extends Mixins(Status, Form) {
	$refs!: {
		fieldImage: HTMLFormElement
	}
	private product: ProductForm
	created(): void {
		this.fetchProduct()
	}
	protected form: ProductForm = {} as ProductForm
	protected formFieldsValidation: ProductForm = {} as ProductForm
	async fetchProduct(): Promise<void> {
		const [error, data] = await ProductsApi.getSingle(this.productId())
		if (error) {
			this.status.error.message = error.message
		} else if (data) {
			this.product = data
			this.form = this.product
		}
	}
	async editProduct(): Promise<void> {
		const form = { ...this.form, ...{ id: this.productId() } }
		const [error, response] = await ProductsApi.edit(form)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.status.success = 'Product updated !'
			setTimeout(() => {
				this.$router.push({ name: 'products' })
			}, 1500)
		}
	}
	productId(): number {
		return parseInt(this.$route.params.productId)
	}
}
</script>
