<template>
	<v-container>
		<h1>Add Product</h1>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="addProduct"
			>
				<FieldTitle
					ref="fieldTitle"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDescription
					ref="fieldDescription"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldImage
					ref="fieldImage"
					route="products"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-card-actions>
					<v-btn
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>Add Product</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { ProductForm } from '@/models/product'

//Fields
import FieldTitle from '@/components/fields/fieldTitle.vue'
import FieldDescription from '@/components/fields/fieldDescription.vue'
import FieldImage from '@/components/fields/fieldImage.vue'

//API
import ProductsApi from '@/api/product.api'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'
@Component({
	components: {
		Form,
		FieldTitle,
		FieldDescription,
		FieldImage,
	},
})
export default class AddProductForm extends Mixins(Status, Form) {
	$refs!: {
		fieldImage: HTMLFormElement
	}
	protected form: ProductForm = {} as ProductForm
	protected formFieldsValidation: ProductForm = {} as ProductForm
	async addProduct(): Promise<void> {
		const [error, response] = await ProductsApi.add(this.form)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.status.success = 'Product created !'
			setTimeout(() => {
				this.$router.push({ name: 'products' })
			}, 1500)
		}
	}
}
</script>
