<template>
	<v-container>
		<h1>Add Event</h1>
		<Status :valueStatus="status" />
		<v-card>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="addEvent"
				v-if="!isLoading"
			>
				<FieldTitle
					ref="fieldTitle"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDescription
					ref="fieldDescription"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateAllDay
					ref="fieldAllDay"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateStart
					ref="fieldStart"
					:allDayField="this.$refs.fieldAllDay"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateEnd
					ref="fieldEnd"
					:allDayField="this.$refs.fieldAllDay"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-card-actions>
					<v-btn
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>Add Event</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { EventForm } from '@/models/event'

//Fields
import FieldTitle from '@/components/fields/fieldTitle.vue'
import FieldDescription from '@/components/fields/fieldDescription.vue'
import FieldDateStart from '@/components/fields/fieldDateStart.vue'
import FieldDateEnd from '@/components/fields/fieldDateEnd.vue'
import FieldDateAllDay from '@/components/fields/fieldDateAllDay.vue'

//API
import EventsApi from '@/api/event.api'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'
@Component({
	components: {
		Form,
		FieldTitle,
		FieldDescription,
		FieldDateStart,
		FieldDateEnd,
		FieldDateAllDay,
	},
})
export default class AddEventForm extends Mixins(Status, Form) {
	protected form: EventForm = {} as EventForm
	protected formFieldsValidation = {} as EventForm

	async addEvent(): Promise<void> {
		try {
			this.isLoading = true
			const [error, response] = await EventsApi.add(this.form)
			if (error) {
				this.status.error.message = error.message
			} else if (response) {
				this.status.success = 'Event created !'
				setTimeout(() => {
					this.$router.push({ name: 'events' })
				}, 1500)
			}
		} finally {
			this.isLoading = false
		}
	}
}
</script>
