<template>
	<v-container>
		<h1>Edit Event</h1>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="editEvent"
			>
				<FieldTitle
					ref="fieldTitle"
					:value="form.title"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDescription
					ref="fieldDescription"
					:value="form.description"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateAllDay
					ref="fieldAllDay"
					:value="form.allday"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateStart
					ref="fieldStart"
					:value="form.start"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDateEnd
					ref="fieldEnd"
					:value="form.end"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
			</v-form>
			<v-card-actions>
				<v-btn
					:disabled="!isFormValid"
					color="primary"
					type="submit"
					@click.prevent="editEvent"
					:loading="isLoading"
					depressed
					>Update Event</v-btn
				>
			</v-card-actions>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { EventForm } from '@/models/event'

//API
import EventsApi from '@/api/event.api'

//Fields
import FieldTitle from '@/components/fields/fieldTitle.vue'
import FieldDescription from '@/components/fields/fieldDescription.vue'
import FieldDateStart from '@/components/fields/fieldDateStart.vue'
import FieldDateEnd from '@/components/fields/fieldDateEnd.vue'
import FieldDateAllDay from '@/components/fields/fieldDateAllDay.vue'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		FieldTitle,
		FieldDescription,
		FieldDateStart,
		FieldDateEnd,
		FieldDateAllDay,
	},
})
export default class EditEventForm extends Mixins(Status, Form) {
	private event = {} as EventForm
	created(): void {
		this.fetchEvent()
	}
	protected form: EventForm = {} as EventForm
	protected formFieldsValidation = {} as EventForm
	async fetchEvent(): Promise<void> {
		const [error, data] = await EventsApi.getSingle(this.eventId())
		if (error) {
			this.status.error.message =
				"Can't retrieve the event. Please try again later."
		} else if (data) {
			this.event = data
			this.form = this.event
		}
	}
	async editEvent(): Promise<void> {
		const form = { ...this.form, ...{ id: this.eventId() } }
		const [error, response] = await EventsApi.edit(form)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.status.success = 'Event updated !'
			setTimeout(() => {
				this.$router.push({ name: 'events' })
			}, 1500)
		}
	}
	eventId(): number {
		return parseInt(this.$route.params.eventId)
	}
}
</script>
