<template>
	<v-container>
		<Status :valueStatus="status" />
		<adminPanel
			:loading="isLoading"
			title="Events"
			element="event"
			route="events"
			:items="items"
			:headers="headers"
			sortColumn="title"
			:sortColumnDesc="false"
			:actions="{ create: true, edit: true, delete: true, view: true }"
			@deleteElement="deleteElement"
		/>
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import adminPanel from '@/components/panel.vue'

//Model
import { EventModel } from '@/models/event'

//API
import EventsApi from '@/api/event.api'
import StatusModel from '@/models/statusModel'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class ViewEventsAdmin extends Mixins(Status) {
	private items: Array<EventModel> = []

	private headers = [
		{
			text: 'Title',
			align: 'start',
			sortable: true,
			value: 'title',
		},
		{ text: 'Start', value: 'start' },
		{ text: 'End', value: 'end' },
		{ text: 'Created', value: 'created' },
		{ text: 'Actions', value: 'actions', align: 'right', sortable: false },
	]

	mounted(): void {
		this.fetchEvents()
	}

	async deleteElement(params: { id: number; index: number }): Promise<void> {
		const { id, index } = params
		this.status.error = {} as StatusModel['error']
		const [error, response] = await EventsApi.delete(id)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.items.splice(index, 1)
		}
	}

	async fetchEvents(): Promise<void> {
		this.isLoading = true
		try {
			const [error, response] = await EventsApi.get()
			if (response && !error) {
				this.items = response.result
			} else if (error) {
				throw new Error(error.message)
			}
		} catch (error) {
			this.status.info = error.message
		} finally {
			this.isLoading = false
		}
	}
}
</script>

<style scoped></style>
