<template>
	<v-container class="mx-auto">
		<EditEventForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import EditEventForm from '@/components/events/forms/formEditEvent.vue'

@Component({
	components: {
		EditEventForm,
	},
})
export default class EditEvent extends Vue {}
</script>

<style></style>
