<template>
	<v-container class="mx-auto">
		<AddEventForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import AddEventForm from '@/components/events/forms/formAddEvent.vue'

@Component({
	components: {
		AddEventForm,
	},
})
export default class AddEvent extends Vue {}
</script>

<style></style>
