<template>
	<v-app id="app">
		<Header @changeDrawerValueFromHeader="changeDrawerValueFromHeader" />
		<Sidebar
			@changeDrawerValueFromSidebar="changeDrawerValueFromSidebar"
			:propDrawer="drawer"
			v-if="userLoggedStatus()"
		/>
		<v-main>
			<router-view />
		</v-main>
		<Footer />
	</v-app>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import Header from '@/components/layout/header.vue'
import Sidebar from '@/components/layout/sidebar.vue'
import Footer from '@/components/layout/footer.vue'

//Mixins
import Responsive from '@/mixins/responsive.vue'

@Component({
	components: {
		Header,
		Footer,
		Sidebar,
	},
})
export default class App extends Mixins(Responsive) {
	private drawer = true
	userLoggedStatus(): boolean {
		return this.$store.getters.getUserLoggedStatus
	}
	changeDrawerValueFromHeader(): void {
		this.drawer = !this.drawer
	}
	changeDrawerValueFromSidebar(value: boolean): void {
		this.drawer = value
	}
	created(): void {
		if (this.isMobile()) {
			this.drawer = false
		}
	}
}
</script>

<style>
h1 {
	margin-bottom: 30px;
}
</style>
