<template>
	<v-container>
		<h1>Lost Password</h1>
		<v-card class="mx-auto" style="max-width:500px">
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="
					isTokenValid ? updatePassword() : getLostPasswordToken()
				"
			>
				<FieldEmail
					v-if="!getToken() || !isTokenValid"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldPassword
					v-if="getToken() && isTokenValid"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-divider></v-divider>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>{{ labelButton }}</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
		<div v-if="getEnv() === 'dev' && token">
			Click here :
			<a :href="link">{{ token }}</a>
		</div>
	</v-container>
</template>

<script lang="ts">
import { Component, Watch, Mixins } from 'vue-property-decorator'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

//Model
import { UserFormLostPassword, UserValidationForm } from '@/models/user'
//Fields

import FieldEmail from '@/components/fields/fieldEmail.vue'
import FieldPassword from '@/components/fields/fieldPassword.vue'

//API
import EmailApi from '@/api/email.api'
import PasswordApi from '@/api/userPassword.api'

@Component({
	components: {
		FieldEmail,
		FieldPassword,
	},
})
export default class FormLostPassword extends Mixins(Status, Form) {
	private token = ''
	private link = ''
	private isTokenValid = false
	private labelButton = 'Request New Password'
	protected form: UserFormLostPassword
	protected formFieldsValidation: UserValidationForm = {
		password: false,
		email: false,
	}
	getToken(): any {
		return this.$route.query.token || ''
	}
	getEmail(): any {
		return this.$route.query.email || ''
	}
	getEnv(): string {
		return process.env.VUE_APP_ENV
	}
	mounted(): void {
		if (this.getToken().length > 0) {
			this.token = this.getToken()
			this.form.email = this.getEmail()
			this.checkLostPasswordToken()
		}
	}
	@Watch('isTokenValid', { deep: true })
	watcherTokenValidated(newValue: boolean): void {
		if (newValue) {
			this.labelButton = 'Change Password'
		} else {
			this.labelButton = 'Request New Password'
		}
	}
	async checkLostPasswordToken(): Promise<any> {
		const [error, data] = await PasswordApi.checkToken(this.getToken())
		if (data && data.checked) {
			this.isTokenValid = true
		} else if (error) {
			this.status.error = error
		}
	}
	async updatePassword(): Promise<void> {
		this.isLoading = true
		let data = {
			password: this.form.password,
			email: this.form.email,
		}
		const [error, response] = await PasswordApi.update(
			data,
			this.getToken()
		)
		if (error && !response) {
			this.status.error = error
		} else {
			this.status.success = 'Password updated !'
		}
		this.isLoading = false
	}
	async getLostPasswordToken(): Promise<void> {
		try {
			this.isLoading = true
			const [error, data] = await PasswordApi.getToken(this.form.email)
			if (data && !error) {
				this.status.success =
					'An email with a new password request has been sent to you.'
				//Send Email
				const link =
					process.env.VUE_APP_BASE_URL +
					'/lost-password/?email=' +
					this.form.email +
					'&token=' +
					data.token
				this.link = link
				this.token = data.token
				//Send Email
				let dataEmail: any = {
					email: this.form.email,
					name: data.credentials.name,
					subject: 'Lost Password',
					content:
						'<html><head></head><body><p>Hello,</p><a href="' +
						link +
						'">Link</a></body></html>',
				}
				const [errorEmail, responseEmail] = await EmailApi.send(
					dataEmail
				)
				if (errorEmail && !responseEmail) {
					this.status.error = errorEmail
				} else if (responseEmail) {
					this.status.success = 'Password updated !'
					this.token = responseEmail.token
					this.status.success =
						'An email has been sent in your email inbox for setting up a new password.'
				}
			}
		} catch (error) {
			this.status.error = error
		} finally {
			this.isLoading = false
		}
	}
}
</script>
