<template>
	<v-container>
		<h1>Edit User</h1>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="editUser"
			>
				<FieldName
					ref="fieldName"
					:value="form.name"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldEmail
					ref="fieldEmail"
					:value="form.email"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldRole
					@changeValue="changeValue"
					ref="fieldRole"
					:value="form.role"
					@checkValidation="checkValidation"
				/>
				<FieldPassword
					ref="fieldPassword"
					:value="form.password"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
			</v-form>
			<v-card-actions>
				<v-btn
					:disabled="!isFormValid"
					color="primary"
					type="submit"
					:loading="isLoading"
					depressed
					>Update User</v-btn
				>
			</v-card-actions>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

//Models
import { UserForm, UserModel, UserValidationForm } from '@/models/user'

//API
import UsersApi from '@/api/user.api'

//Fields
import FieldName from '@/components/fields/fieldName.vue'
import FieldEmail from '@/components/fields/fieldEmail.vue'
import FieldRole from '@/components/fields/fieldRole.vue'
import FieldPassword from '@/components/fields/fieldPassword.vue'

@Component({
	components: {
		Form,
		FieldName,
		FieldEmail,
		FieldRole,
		FieldPassword,
		Status,
	},
})
export default class FormEditUser extends Mixins(Status, Form) {
	$refs!: {
		fieldImage: HTMLFormElement
	}
	private user: UserModel
	created(): void {
		this.fetchUser()
	}
	protected form: UserForm = {
		name: '',
		email: '',
		password: '',
		role: '',
	}
	protected formFieldsValidation: UserValidationForm = {
		name: false,
		email: false,
		password: false,
		role: false,
	}
	async fetchUser(): Promise<void> {
		const [error, response] = await UsersApi.getSingle({
			user_id: this.user_id,
		})
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.user = response
			this.form = this.user.credentials
		}
	}
	async editUser(): Promise<void> {
		this.status.error.message = ''
		this.status.success = ''
		const form = { ...this.form, ...{ id: this.user_id } }
		const [error, response] = await UsersApi.edit(form)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.status.success = 'User updated !'
			setTimeout(() => {
				this.$router.push({ name: 'users' })
			}, 1500)
		}
	}
	get user_id(): string {
		return this.$route.params.user_id
	}
}
</script>
