<template>
	<div class="my-6">
		<v-card>
			<v-form
				@submit.prevent="$emit('updateProfile', form)"
				ref="form"
				class="pa-4 pb-0 mt-3"
				lazy-validation
			>
				<FieldName
					:value="this.credentials.name"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldDescription
					:value="this.credentials.description"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
			</v-form>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn
					@click.prevent="$emit('updateProfile', form)"
					:disabled="!isFormValid"
					color="primary"
					type="submit"
					:loading="isLoading"
					depressed
					>Update</v-btn
				>
			</v-card-actions>
		</v-card>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'
import { UserModel } from '@/models/user'

//Models
import { UserFormProfile, UserValidationForm } from '@/models/user'

//Fields
import FieldName from '@/components/fields/fieldName.vue'
import FieldDescription from '@/components/fields/fieldDescription.vue'

@Component({
	components: {
		FieldName,
		FieldDescription,
	},
})
export default class FormProfile extends Mixins(Status, Form) {
	@Prop() credentials: UserModel['credentials']
	protected form = {} as UserFormProfile
	protected formFieldsValidation: UserValidationForm = {
		name: false,
		description: false,
	} as UserValidationForm
}
</script>
