<template>
	<div class="my-6">
		<v-card>
			<v-form ref="form" class="pa-4 pb-0 mt-3" lazy-validation>
				<FieldAvatar
					ref="fieldAvatar"
					route="users"
					:value="this.avatar"
					@updateField="updateField"
					@changeValue="changeValue"
				/>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator'

//Models
import { UserModel, UserFormAvatar, UserValidationForm } from '@/models/user'
//Fields

import FieldAvatar from '@/components/fields/fieldAvatar.vue'
//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		FieldAvatar,
	},
})
export default class FormAvatar extends Mixins(Status, Form) {
	@Prop() avatar: UserModel['credentials']['avatar']
	protected form = {
		avatar: '',
	} as UserFormAvatar
	protected formFieldsValidation: UserValidationForm = {
		avatar: true,
	}
	updateField(): void {
		this.$emit('updateProfile', this.form)
	}
}
</script>
