<template>
	<v-container>
		<h2>Register</h2>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				class="pa-4 mt-6"
				@submit.prevent="registerUser"
				lazy-validation
			>
				<FieldName
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldUserame
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldEmail
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldPassword
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-divider></v-divider>
			</v-form>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn
					@click="registerUser"
					:disabled="!isFormValid"
					color="primary"
					type="submit"
					:isLoading="isLoading"
					depressed
					>Register</v-btn
				>
			</v-card-actions>
			<v-card-actions>
				<ul>
					<li
						v-for="(value, field) in formFieldsValidation"
						:key="field"
					>
						{{ field.toUpperCase() }} :
						<v-icon v-if="value">
							mdi-checkbox-marked-circle
						</v-icon>
						<v-icon v-if="!value">
							mdi-cancel
						</v-icon>
					</li>
				</ul>
			</v-card-actions>
		</v-card>
		<Status :valueStatus="status" />
		<div v-if="getEnv() === 'dev' && token">
			Click here :
			<a :href="link">{{ token }}</a>
		</div>
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { UserForm, UserModel, UserValidationForm } from '@/models/user'

//Fields
import FieldUserame from '@/components/fields/fieldUsername.vue'
import FieldName from '@/components/fields/fieldName.vue'
import FieldEmail from '@/components/fields/fieldEmail.vue'
import FieldPassword from '@/components/fields/fieldPassword.vue'

//API
import UsersApi from '@/api/user.api'
import EmailApi from '@/api/email.api'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		FieldUserame,
		FieldName,
		FieldEmail,
		FieldPassword,
		Status,
	},
})
export default class FormRegister extends Mixins(Status, Form) {
	private link = ''
	private token = ''
	protected form: UserForm = {
		name: '',
		username: '',
		email: '',
		password: '',
	}
	protected formFieldsValidation: UserValidationForm = {
		name: false,
		username: false,
		email: false,
		password: false,
	}
	getEnv(): string {
		return process.env.VUE_APP_ENV
	}
	async registerUser(): Promise<any> {
		try {
			this.isLoading = true
			const [error, response] = await UsersApi.add(this.form)
			if (!error && response) {
				const user: UserModel = response
				const user_id = user.credentials.id

				//Get Token
				await this.getToken(user_id)

				//Send Email
				await this.sendEmail(user)

				//Success
				this.status.success =
					'Your Account has been activated. You will receive an email for activating it.'
			} else {
				throw new Error(error.message)
			}
		} catch (e) {
			this.status.error.message = e
		} finally {
			this.isLoading = false
		}
	}

	async getToken(user_id: string): Promise<void> {
		const [errorToken, responseToken] = await UsersApi.getToken(user_id)
		if (!errorToken && responseToken) {
			this.token = responseToken.token
			this.link =
				process.env.VUE_APP_BASE_URL + '/activate/?token=' + this.token
		} else {
			throw new Error(errorToken.message)
		}
	}

	async sendEmail(user: UserModel): Promise<void> {
		if (this.getEnv() !== 'dev') {
			let dataEmail: any = {
				email: user.credentials.email,
				name: user.credentials.name,
				subject: 'Please activate your account',
				content:
					'<html><head></head><body><p>Hello, please activate your account here : </p><a href="' +
					this.link +
					'">Link</a></body></html>',
			}
			const [errorEmail, responseEmail] = await EmailApi.send(dataEmail)
			if (responseEmail && !errorEmail) {
				this.status.success =
					'Your Account have been created. You will receive an email for activating your account soon.'
			} else if (errorEmail) {
				throw new Error(errorEmail.message)
			}
		}
	}
}
</script>
