<template>
	<div id="logout">
		<v-btn text @click="logout()" class="button">
			Logout
		</v-btn>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class FormLogout extends Vue {
	logout(): void {
		this.$store.dispatch('logoutUser')
	}
}
</script>
