<template>
	<v-container>
		<h2>Login</h2>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form ref="form" class="pa-4 mt-6" lazy-validation>
				<FieldEmail
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldPassword
					applyRules="false"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-card-actions>
					<v-btn to="/lost-password">Lost Password ?</v-btn>
					<v-spacer></v-spacer>
					<v-btn
						@click.prevent="loginUser"
						class="align-right"
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>Login</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Models
import { UserFormLogin, UserValidationForm } from '@/models/user'

//Components
import FieldEmail from '@/components/fields/fieldEmail.vue'
import FieldPassword from '@/components/fields/fieldPassword.vue'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		FieldEmail,
		FieldPassword,
	},
})
export default class FormLogin extends Mixins(Status, Form) {
	protected form: UserFormLogin = {
		email: '',
		password: '',
	}
	protected formFieldsValidation: UserValidationForm = {
		password: false,
		email: false,
	}
	async loginUser(): Promise<void> {
		try {
			this.isLoading = true
			await this.$store.dispatch('loginUser', this.form).then(() => {
				this.status.success = 'Login successful !'
			})
		} catch (error) {
			this.status.error.message = error.message
		} finally {
			this.isLoading = false
		}
	}
}
</script>
