<template>
	<div>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form ref="form" class="pa-4 mt-6" lazy-validation>
				<FieldPassword
					:value="this.form.password"
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-divider></v-divider>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						@click.prevent="updatePassword"
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>Change Password</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
	</div>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
//Models
import { UserFormPassword } from '@/models/user'
//Fields
import FieldPassword from '@/components/fields/fieldPassword.vue'
//API
import PasswordApi from '@/api/userPassword.api'
//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

@Component({
	components: {
		Form,
		FieldPassword,
	},
})
export default class FormChangePassword extends Mixins(Status, Form) {
	protected form: UserFormPassword = {
		password: '',
	}
	protected formFieldsValidation: UserFormPassword = {
		password: false,
	}
	async updatePassword(): Promise<void> {
		this.isLoading = true
		let data = {
			password: this.form.password,
		}
		const [error, response] = await PasswordApi.update(data)
		if (error && !response) {
			this.status.error.message = error.message
		} else {
			this.status.success = 'Password updated !'
		}
		this.isLoading = false
	}
	get user_id(): string {
		return this.$store.state.user.credentials.id
	}
}
</script>
