<template>
	<v-container>
		<h1>Add User</h1>
		<v-card>
			<v-overlay :value="isLoading">
				<v-progress-circular color="primary" indeterminate size="64">
				</v-progress-circular>
			</v-overlay>
			<v-form
				ref="form"
				v-model="isFormValid"
				class="pa-4 mt-6"
				lazy-validation
				@submit.prevent="addUser"
			>
				<FieldName
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldEmail
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldRole
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<FieldPassword
					@changeValue="changeValue"
					@checkValidation="checkValidation"
				/>
				<v-card-actions>
					<v-btn
						:disabled="!isFormValid"
						color="primary"
						type="submit"
						:loading="isLoading"
						depressed
						>Add User</v-btn
					>
				</v-card-actions>
			</v-form>
		</v-card>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'

//Mixins
import Form from '@/mixins/form.vue'
import Status from '@/mixins/status.vue'

//Models
import { UserForm, UserValidationForm } from '@/models/user'

//Fields
import FieldName from '@/components/fields/fieldName.vue'
import FieldEmail from '@/components/fields/fieldEmail.vue'
import FieldRole from '@/components/fields/fieldRole.vue'
import FieldPassword from '@/components/fields/fieldPassword.vue'

//API
import UsersApi from '@/api/user.api'

@Component({
	components: {
		Form,
		FieldName,
		FieldEmail,
		FieldRole,
		FieldPassword,
	},
})
export default class FormAddUser extends Mixins(Status, Form) {
	$refs!: {
		fieldImage: HTMLFormElement
	}
	protected form: UserForm = {
		name: '',
		email: '',
		password: '',
		role: '',
	}
	protected formFieldsValidation: UserValidationForm = {
		name: false,
		email: false,
		password: false,
		role: false,
	}
	async addUser(): Promise<void> {
		this.status.error.message = ''
		this.status.success = ''
		const [error, response] = await UsersApi.add(this.form)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.status.success = 'User created !'
			setTimeout(() => {
				this.$router.push({ name: 'users' })
			}, 1500)
		}
	}
}
</script>
