<template>
	<v-container>
		<adminPanel
			:loading="loading"
			title="Products"
			element="product"
			route="products"
			:items="items"
			:headers="headers"
			sortColumn="title"
			:sortColumnDesc="false"
			:actions="{ create: true, view: true, delete: true, edit: true }"
			@deleteElement="deleteElement"
		/>
		<Status :valueStatus="status" />
	</v-container>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import adminPanel from '@/components/panel.vue'

//Model
import { ProductModel } from '@/models/product'

//API
import ProductsApi from '@/api/product.api'
import StatusModel from '@/models/statusModel'

//Mixins
import Status from '@/mixins/status.vue'

@Component({
	components: {
		adminPanel,
	},
})
export default class ViewProductsAdmin extends Mixins(Status) {
	private loading = true
	private items: Array<ProductModel> = []
	private headers = [
		{
			text: 'Title',
			align: 'start',
			sortable: true,
			value: 'title',
		},
		{
			text: 'Image',
			value: 'image',
			sortable: false,
			align: 'center',
		},

		{ text: 'Created', value: 'created' },
		{ text: 'Actions', value: 'actions', sortable: false },
	]

	mounted(): void {
		this.fetchProducts()
	}

	async deleteElement(params: { id: number; index: number }): Promise<void> {
		const { id, index } = params
		this.status.error = {} as StatusModel['error']
		const [error, response] = await ProductsApi.delete(id)
		if (error) {
			this.status.error.message = error.message
		} else if (response) {
			this.items.splice(index, 1)
		}
	}

	async fetchProducts(): Promise<void> {
		this.loading = true
		this.items = this.$store.getters.getProducts
		this.loading = false
	}
}
</script>

<style scoped></style>
