<template>
	<v-container class="mx-auto">
		<AddProductForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import AddProductForm from '@/components/products/forms/formAddProduct.vue'

@Component({
	components: {
		AddProductForm,
	},
})
export default class AddProduct extends Vue {}
</script>

<style></style>
