<template>
	<v-container class="mx-auto">
		<EditProductForm />
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import EditProductForm from '@/components/products/forms/formEditProduct.vue'

@Component({
	components: {
		EditProductForm,
	},
})
export default class EditProduct extends Vue {}
</script>

<style></style>
